{% extends 'financebuddyweb/base.html' %}

{% block content %}
<h2>Expense Trends</h2>

<canvas id="expenseChart" width="400" height="400"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var ctx = document.getElementById('expenseChart').getContext('2d');
    var expenseChart = new Chart(ctx, {
        type: 'line', // Change to 'bar', 'pie', etc. based on preference
        data: {
            labels: {{ labels|safe }},
            datasets: [{
                label: 'Monthly Expenses',
                data: {{ data|safe }},
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
    console.log("labels", {{ labels|safe }});
    console.log("data", {{ data|safe }});

</script>
{% endblock %}
